<footer>
    <hr class="pt-8 dark:opacity-20">
    {%- include social.html -%}
    {%- include signup.html -%}
    <div class="my-20">
        <a class="inline-block text-2xl font-sans-serif font-black transition ease-in-out hover:scale-[1.02] focus:scale-100 duration-200" href="{{ '/' | relative_url }}">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-rose-400 to-purple-800 dark:from-pink-300 dark:to-violet-300">
                {{- site.title -}}
            </span>
        </a>
        {%- include author.html class="flex mt-7" loading="lazy" -%}
    </div>
    <nav>
        <ul class="flex flex-wrap place-content-between">
            <li class="mb-3.5 mr-5">
                {%- assign prev_url = page.previous.url | default: site.posts.first.url -%}
                {%- assign prev_headline = page.previous.headline | default: site.posts.first.headline -%}
                <a class="text-pink-500 dark:text-pink-300 border-b border-pink-500 dark:border-pink-300 hover:border-0" href="{{ prev_url }}">
                    &#8592; {{ prev_headline }}
                </a>
            </li>
            <li class="mb-3.5">
                {%- assign next_url = page.next.url | default: site.posts.last.url -%}
                {%- assign next_headline = page.next.headline | default: site.posts.last.headline -%}
                <a class="text-pink-500 dark:text-pink-300 border-b border-pink-500 dark:border-pink-300 hover:border-0" href="{{ next_url }}">
                    {{ next_headline }} &#8594;
                </a>
            </li>
        </ul>
    </nav>
</footer>