{%- if page.layout == 'home' -%}
<header class="mb-14">
    <h1 class="font-sans-serif font-black text-2xl dark:text-white/90">
        {{- site.title -}}
    </h1>
</header>
{%- include author.html class="flex mb-12" -%}
{%- else -%}
<header class="mb-14">
    <a class="inline-block text-2xl font-sans-serif font-black transition ease-in-out hover:scale-[1.02] focus:scale-100 duration-200 motion-reduce:transition-none motion-reduce:hover:transform-none" href="{{ '/' | relative_url }}">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-rose-400 to-purple-800 dark:from-pink-300 dark:to-violet-300">
            {{- site.title -}}
        </span>
    </a>
</header>
{%- endif -%}