{%- if page.layout == 'home' -%}
<header class="mb-14">
    <h1 class="font-sans-serif font-black text-2xl dark:text-white/90">
        {{- site.title -}}
    </h1>
</header>
<aside class="flex mb-12">
    <div class="shrink-0">
        {% include image.html
            src=site.author.image
            alt=site.author.name
            class="w-14 h-14 rounded-full flex-none"
            is_post_image="false"
        %}
    </div>
    <p class="max-w-80 leading-7 ml-3.5">Я&nbsp;&mdash; <a class="text-pink-500 dark:text-pink-300 border-b border-pink-500 dark:border-pink-300 hover:border-transparent" href="{{ '/about/' | relative_url }}">{{ site.author.name }}</a>, а&nbsp;это мой блог. Пишу&nbsp;словами про e&minus;commerce.</p>
</aside>
{%- else -%}
<header class="mb-14">
    <a class="inline-block text-2xl font-sans-serif font-black transition ease-in-out hover:scale-[1.02] focus:scale-100 duration-200 motion-reduce:transition-none motion-reduce:hover:transform-none" href="{{ '/' | relative_url }}">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-rose-400 to-purple-800 dark:from-pink-300 dark:to-violet-300">
            {{- site.title -}}
        </span>
    </a>
</header>
{%- endif -%}