---
layout: base
---
{%- include header.html -%}
<main>
    <article>
        <h1 class="font-sans-serif font-black text-4.5xl leading-11 dark:text-white mb-2">
        {{- page.headline | default: page.title -}}
        </h1>
        <div class="text-80 text-gray-700 dark:text-gray-300">
            <span>
                {%- assign page_date = page.last_modified_at | default: page.date -%}
                {%- if page.last_modified_at -%}
                Обновлено&nbsp;
                {%- endif -%}
                {{- page_date | date: '%-d' | append: '&nbsp;' -}}
                {%- assign month_number = page_date | date: '%-m' -%}
                {%- case month_number -%}
                {%- when '1' -%}января
                {%- when '2' -%}февраля
                {%- when '3' -%}марта
                {%- when '4' -%}апреля
                {%- when '5' -%}мая
                {%- when '6' -%}июня
                {%- when '7' -%}июля
                {%- when '8' -%}августа
                {%- when '9' -%}сентября
                {%- when '10' -%}октября
                {%- when '11' -%}ноября
                {%- when '12' -%}декабря
                {%- endcase -%}
                {{- page_date | date: '%Y' | prepend: '&nbsp;'  -}}
            </span>
            {%- assign reading_time = page.content | strip_html | replace: ' ', ' ' | number_of_words | divided_by: 180 | append: '&nbsp;мин.' -%}
            <span class="before:content-[''] before:inline-block before:w-2 before:h-2 before:align-middle before:mx-3 before:border-2 before:border-[--primary-color] before:rounded-full">{{ reading_time }}</span>
        </div>
        <div class="markdown leading-7 mt-10">
            {{ content }}
        </div>
    </article>
</main>
{%- include footer.html -%}